@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rambla&display=swap');
.home_title_wrapper {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  font-size: 50px;
  text-align: center;
  font-family: "Righteous", cursive;
  color: #ffff;
}

.home_button {
    font-family: 'Rambla', sans-serif;
    font-size: 20px;
    padding: 30px;
}