body {
    height: 100vh;
}
.main_wrapper_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333333;
    height: 100vh;
}
.links_wrapper {
    padding: 10px;
    display: flex;
    background-color: #333333;
    flex-direction: column;
    width: 80%;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.title_link {
    font-size: x-large;
    color: whitesmoke;
}
img {
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
}