@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rambla&display=swap");
body {
    height: 100vh;
}
.main_wrapper_links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #333333;
}
.links_wrapper {
    padding: 10px;
    display: flex;
    background-color: #333333;
    flex-direction: column;
    width: 80%;
}
a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: "Rambla", sans-serif;
    padding: 2px;
}
.title_link {
    font-size: x-large;
    color: whitesmoke;
    font-family: "Rambla", sans-serif;
}
img {
    filter: brightness(100%);
}
.background_wrapper_links {
    height: 100vh;
    background-color: #333333;
}