button {
  border: none;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  border: none;
  outline: none;
}
img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}
